<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <link rel="stylesheet" href="css.css">
</head>
<body>
<div id="app">
    <header class="header">todos</header>
    <div class="content">
            <span class="icon-down el-icon-arrow-down"
                  v-show="todoLists.length>0"
                  @click="selectAllTodos">
            </span>
        <input type="text" class="todos_add" placeholder="What needs to be done?"
               @keyup.enter="addTodo($event.target)"
               ref="currentInput">
        <ul class="content_todoLists">
            <li v-for="(list,index) in todoLists" class="content_todoList"
                @mouseover="list.isActive = true"
                @mouseleave="list.isActive=false"
                v-show="defaultShow || (whichShow?list.isChecked:!list.isChecked)">
                <input type="checkbox" class="checkBox" v-model="list.isChecked">
                <div class="content_todoList_main" @dblclick="toEdit(list)" v-show="!list.isEditing" :class="{deleted:list.isChecked}">
                    {{list.value}}
                </div>
                <input type="text" class="content_todoList_main main_input"
                       v-model="list.value"
                       v-show="list.isEditing"
                       v-todo-focus="list.value"
                       @blur="unEdit(list)">
                <span class="el-icon-close content_todoList_delete" :class="{show: list.isActive}" @click="deleteTodo(index)"></span>
            </li>
        </ul>
        <div class="data" v-show="todoLists.length>0">
            <div class="data_times" v-show="times === 0">
                <span>{{times}}</span>&nbspitem left
            </div>
            <div class="data_times" v-show="times > 0">
                <span>{{times}}</span>&nbspitems left
            </div>
            <div class="data_status">
                <a href="#" :class="{active:index === dataStatusIndex}" v-for="(item,index) in dataStatus" @click="switchStatus(index)" :key="index">
                    {{item}}
                </a>
            </div>
            <div class="data_clearTodos" @click="clearTodos" v-show="times < todoLists.length">
                <a href="#">clear completed</a>
            </div>
            <div class="data_clearTodos" @click="clearTodos" v-show="times === todoLists.length">
                <a href="#"></a>
            </div>
        </div>
    </div>
</div>
<script>
	let vm = new Vue({
		el: "#app",
		data() {
			return {
				todoLists: [],
				dataStatus: ["All", "Active", "Completed"],
				dataStatusIndex: 0,
				whichShow: true,
				defaultShow: true
			}
		},
		computed: {
			times() { //使用计算属性计算待办todos的次数
				let todoArr = this.todoLists
				let times = 0
				for (let i = 0; i < todoArr.length; i++) {
					if (todoArr[i].isChecked === false) {
						times++
					}
				}
				return times
			}
		},
		methods: {
			toEdit(obj) { //使添加的todo可编辑
				obj.isEditing = true
			},
			unEdit(obj) { //使添加的todo不可编辑
				obj.isEditing = false
			},
			addTodo(e) { //添加todo
				var val = e.value
				if (val === "") {
					return
				} //如果输入内容为空则立即返回
				this.todoLists = this.todoLists.concat({ //使用concat这个api添加todo
					value: val, //输入内容
					isEditing: false, //是否在编辑状态
					isActive: false, //删除X图标是否激活
					isChecked: false //是否已完成
				})
				this.$refs.currentInput.value = "" //按下enter添加todo之后把输入框value清零
				window.localStorage.setItem("content", JSON.stringify(this.todoLists)) //使用localStorage以JSON格式存储数据
			},
			deleteTodo(index) { //删除todo
				this.todoLists.splice(index, 1)
				window.localStorage.setItem("content", JSON.stringify(this.todoLists)) //以json格式存储数据
			},
			switchStatus(index) { //试下下方三个状态切换，略麻烦
				this.dataStatusIndex = index
				if (this.dataStatus[index] === "Active") {
					this.defaultShow = false
					this.whichShow = false
				} else if (this.dataStatus[index] === "Completed") {
					this.defaultShow = false
					this.whichShow = true
				} else if (this.dataStatus[index] === "All") {
					this.defaultShow = true
				}
			},
			clearTodos() { //清空已完成的todoLists
				this.todoLists = this.todoLists.filter(todo => todo.isChecked === false)
				window.localStorage.setItem("content", JSON.stringify(this.todoLists)) //以json格式存储数据
			},
			selectAllTodos() { //设置所有todo为已完成
				this.todoLists.map(todo => todo.isChecked = todo.isChecked ? false : true)
			}
		},
		directives: { //自定义focus指令
			"todo-focus": function (el, binding) {
				if (binding.value) {
					el.focus()
				}
			}
		},
		created() {
			let myStorage = window.localStorage.getItem('content')
			this.todoLists = JSON.parse(myStorage) || [] //因为todoLists初始值是null,使用或运算符，如果为null设为空数组
		}
	})
</script>
</body>
</html>
